@{
    ViewData["Title"] = "Eventos";
}
<div class="card" style="font-family: 'Arial', sans-serif;">
    <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
        <h3 class="display-6" style="color: #555;">Eventos</h3>
        <div class="mb-2">
            <button type="button" title="Agregar Evento" class="btn-agregar" onclick="NuevoEvento()"
                data-bs-toggle="modal" data-bs-target="#ModalEvento">
                <i class="fa-solid fa-plus"></i> <span class="btn-text">Agregar Evento</span>
            </button>
        </div>
    </div>

    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <!-- Botón de Imprimir -->
            <button class="btn-download" title="Descargar Datos" onclick="Imprimir()">
                <i class="fa-solid fa-file-pdf"></i>
                <span class="btn-text">Descargar</span>
            </button>
            <!-- Contenedor para contador y paginación -->
            <div class="d-flex align-items-center">
                <!-- Contador de elementos -->
                <div id="table-info" class="me-3">
                    <span id="total-items-eventos">Eventos cargados: 0</span>
                </div>
                <!-- Paginación -->
                <nav aria-label="Page navigation example">
                    <ul id="pagination-eventos" class="pagination mb-0">
                        <!-- Los enlaces de paginación se generarán aquí -->
                    </ul>
                </nav>
            </div>
        </div>

        <div class="card-body">
            <!-- Filtros -->
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3 mb-3">
                            <label class="form-label" for="BuscarTipoEventoID">Filtrar por Tipo de Evento</label>
                            @Html.DropDownList("BuscarTipoEventoID", (SelectList)ViewBag.TipoEventoID, new
                                {
                                    @class =
                                     "form-control",
                                    onchange = "ListadoEventos()"
                                })
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 mb-3">
                            <label for="FechaDesde" class="form-label">Buscar Fecha Desde</label>
                            <input type="date" id="FechaDesde" name="FechaDesde" class="form-control"
                                onchange="ListadoEventos()" />
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 mb-3">
                            <label for="FechaHasta" class="form-label">Buscar Fecha Hasta</label>
                            <input type="date" id="FechaHasta" name="FechaHasta" class="form-control"
                                onchange="ListadoEventos()" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal de Información del Evento -->
            <div class="modal fade" data-bs-backdrop="static" id="ModalEvento" tabindex="-1"
                aria-labelledby="animalModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalTituloEvento">Información del Evento</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                onclick="LimpiarModalEvento()" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <form>
                                <input type="hidden" id="EventoID" value="0" />

                                <div class="row mb-3">
                                    <div class="col-md-4 mb-3" style="position: relative;">
                                        <label for="BuscarAnimal" class="form-label">Caravana <span
                                                class="required-asterisk">*</span></label>
                                        <input type="text" id="BuscarAnimal" style="text-transform: uppercase;"
                                            class="form-control" placeholder="BUSCAR ANIMAL" />
                                        <ul id="AnimalResultados" class="list-group mt-2" style="display: none;"></ul>
                                        <input type="hidden" id="AnimalID" animalNombre="AnimalID" />
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="FechaEvento" class="form-label">Fecha de evento <span
                                                class="required-asterisk">*</span></label>
                                        <input type="date" class="form-control" id="FechaEvento">
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="TipoEvento" class="form-label">Tipo de Evento <span
                                                class="required-asterisk">*</span></label>
                                        @Html.DropDownList("TipoEvento", (SelectList)ViewBag.TipoEventoID,
                                                 htmlAttributes: new
                                                 {
                                                     @class = "form-control",
                                                     onchange =
                                                 "mostrarCamposPorTipoEvento()"
                                                 })
                                    </div>
                                </div>
                                <!-- Aborto -->
                                <div id="divCausaAborto" class="col-md-12 mb-3" style="display:none;">
                                    <div>
                                        <label for="CausaAborto" class="form-label">Causa <span
                                                class="required-asterisk">*</span></label>
                                        <input type="text" class="form-control" id="CausaAborto"
                                            style="text-transform: uppercase;" placeholder="Causa del aborto" />
                                    </div>
                                </div>
                                <!-- Muerte -->
                                <div id="divMotivoMuerte" class="col-md-12 mb-3" style="display:none;">
                                    <div>
                                        <label for="MotivoMuerte" class="form-label">Motivo Muerte <span
                                                class="required-asterisk">*</span></label>
                                        <input type="text" class="form-control" id="MotivoMuerte"
                                            style="text-transform: uppercase;" placeholder="Causa de la muerte" />
                                    </div>
                                </div>
                                <!-- Otro -->
                                <div id="divEspecifiqueOtro" class="col-md-12 mb-3" style="display:none;">
                                    <div>
                                        <label for="EspecifiqueOtro" class="form-label">Especifique <span
                                                class="required-asterisk">*</span></label>
                                        <input type="text" class="form-control" id="EspecifiqueOtro"
                                            style="text-transform: uppercase;" placeholder="Especifique el motivo" />
                                    </div>
                                </div>
                                <!-- Preñez -->
                                <div class="row mb-3" id="divPreñezFechSecado" style="display:none;">
                                    <div class="col-md-6 mb-3">
                                        <label for="FechaAproximadaSecado" class="form-label">Fecha Aprox Secado
                                            <span class="required-asterisk">*</span></label>
                                        <input type="date" class="form-control" id="FechaAproximadaSecado">
                                    </div>
                                    <div class="col-md-6 mb-3 " id="divPreñezFechParicion" style="display:none;">
                                        <label for="FechaAproximadaParicion" class="form-label">Fecha Aprox Parición
                                            <span class="required-asterisk">*</span></label>
                                        <input type="date" class="form-control" id="FechaAproximadaParicion">
                                    </div>
                                </div>
                                <!-- Rechazo -->
                                <div id="divCausaRechazo" class="col-md-12 mb-3" style="display:none;">
                                    <div>
                                        <label for="CausaRechazo" class="form-label">Causa Rechazo <span
                                                class="required-asterisk">*</span></label>
                                        <input type="text" class="form-control" id="CausaRechazo"
                                            style="text-transform: uppercase;" placeholder="Causa del rechazo" />
                                    </div>
                                </div>
                                <!-- Venta -->
                                <div id="divMotivoVenta" class="col-md-12 mb-3" style="display:none;">
                                    <div>
                                        <label for="MotivoVenta" class="form-label">Motivo Venta <span
                                                class="required-asterisk">*</span></label>
                                        <input type="text" class="form-control" id="MotivoVenta"
                                            style="text-transform: uppercase;" placeholder="Motivo de la venta" />
                                    </div>
                                </div>
                                <!-- Servicio -->
                                <div class="row mb-3" id="divTipoInseminacion" style="display:none;">
                                    <div class="d-flex align-items-end gap-3 ">
                                        <div class="col-md-5 mb-3">
                                            <label for="TipoInseminacion" class="form-label">Tipo de Inseminación <span
                                                    class="required-asterisk">*</span></label>
                                            @Html.DropDownList("TipoInseminacion",
                                                     (SelectList)ViewBag.TipoInseminacionID, htmlAttributes: new
                                                     {
                                                         @class =
                                                     "form-control"
                                                     })
                                        </div>

                                        <div class="col-md-5 mb-3" id="divToroID" style="display:none;">
                                            <label for="ToroID" class="form-label">Buscar Toro <span
                                                    class="required-asterisk">*</span></label>
                                            @Html.DropDownList("ToroID", (SelectList)ViewBag.ToroID, htmlAttributes: new
                                                { @class = "form-control" })
                                        </div>

                                        <div class="col-md-5 mb-3" id="divDetalleToro" style="display:none;">
                                            <label for="DetalleToro" class="form-label">Detalle Inseminación Artificial
                                                <span class="required-asterisk">*</span></label>
                                            <input type="text" class="form-control" id="DetalleToro"
                                                style="text-transform: uppercase;" placeholder="Agregar Detalle" />
                                        </div>
                                    </div>
                                </div>
                                <!-- TipoParto -->
                                <div class="row mb-3">
                                    <div id="divTipoParto" class="col-md-12 mb-3" style="display:none;">
                                        <label for="TipoParto" class="form-label">Tipo Parto <span
                                                class="required-asterisk">*</span></label>
                                        <input type="text" style="text-transform: uppercase;" class="form-control"
                                            id="TipoParto" placeholder="Tipo de parto" />
                                    </div>
                                    <div class="row mb-3">
                                        <!-- TipoCria -->
                                        <div class="col-md-6 " id="divTipoCria" style="display:none;">
                                            <label for="TipoCria" class="form-label">Tipo Cría <span
                                                    class="required-asterisk">*</span></label>
                                            @Html.DropDownList("TipoCria", (SelectList)ViewBag.TipoCriaID,
                                                     htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        <!-- EstadoCria -->
                                        <div class="col-md-6 " id="divEstadoCria" style="display:none;">
                                            <label for="EstadoCria" class="form-label">Estado Cría <span
                                                    class="required-asterisk">*</span></label>
                                            @Html.DropDownList("EstadoCria", (SelectList)ViewBag.EstadoCriaID,
                                                     htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <!-- Observación -->
                                <div class="mb-3">
                                    <label for="Observacion" class="form-label">Observación</label>
                                    <textarea class="form-control" style="text-transform: uppercase;" id="Observacion"
                                        placeholder="Observación del evento." rows="3"></textarea>
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer"
                            style="display: flex; justify-content: flex-start; align-items: center;">
                            <p style="font-weight: bold; text-transform: uppercase; color: rgb(19, 18, 18); margin: 0;">
                                Completar los campos requeridos antes de guardar<span class="required-asterisk">*</span>
                            </p>
                            <div style="margin-left: auto;">
                                <button type="button" onclick="LimpiarModalEvento()"
                                    class="btn-cancelar btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" onclick="GuardarEvento()"
                                    class="btn-cancelar btn btn-success">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Structure -->
            <div class="modal fade" id="eventosModal" tabindex="-1" aria-labelledby="eventosModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="eventosModalLabel">Detalles del Evento</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="modalContentEventos">
                            <!-- Aquí se insertará el contenido del modal -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tabla de Eventos -->
            <div class="table-responsive mt-2">
                <p class="text-primary d-block d-md-none text-center mb-3">
                    BOTÓN AZUL PARA VER MÁS DATOS
                </p>
                <table id="tabla-imprimir2" class="content-table">
                    <thead>
                        <tr>
                            <th>Caravana</th>
                            <th>Tipo Evento</th>
                            <th>Fecha</th>
                            <th class="ocultar-en-1024px">Observación</th>
                            <th class="ocultar-en-1024px">Tipo de Parto</th>
                            <th class="ocultar-en-1024px">Tipo de Cría</th>
                            <th class="ocultar-en-1024px">Estado de la Cría</th>
                            <th class="ocultar-en-1024px">Fecha Aprox Secado</th>
                            <th class="ocultar-en-1024px">Fecha Aprox Paricion</th>
                            <th class="ocultar-en-1024px">Toro</th>
                            <th class="ocultar-en-1024px">Tipo de Inseminación</th>
                            <th class="ocultar-en-1024px">Detalle Insem. Artificial</th>
                            <th class="ocultar-en-1024px">Causa del Aborto</th>
                            <th class="ocultar-en-1024px">Motivo de la Venta</th>
                            <th class="ocultar-en-1024px">Causa del Rechazo</th>
                            <th class="ocultar-en-1024px">Motivo de la Muerte</th>
                            <th class="ocultar-en-1024px">Otra Especificación </th>
                            <th style="width: 200px"></th>
                        </tr>
                    </thead>
                    <tbody id="tbody-eventos"></tbody>
                </table>

                <table id="tabla-imprimir1" class="content-table" style="display: none;">
                    <thead>
                        <tr>
                            <th>Caravana</th>
                            <th>Evento</th>
                            <th>Fecha de evento</th>
                            <th>Observación</th>
                            <th>Tipo de Parto</th>
                            <th>Tipo de Cría</th>
                            <th>Estado de la Cría</th>
                            <th>Fecha Aprox Secado</th>
                            <th>Fecha Aprox Paricion</th>
                            <th>Toro</th>
                            <th>Tipo de Inseminación</th>
                            <th>Detalle Insem. Artificial</th>
                            <th>Causa del Aborto</th>
                            <th>Motivo de la Venta</th>
                            <th>Causa del Rechazo</th>
                            <th>Motivo de la Muerte</th>
                            <th>Otra Especificación </th>
                            <th style="width: 200px"></th>
                        </tr>
                    </thead>
                    <tbody id="tbody-eventos-oculto"></tbody>
                </table>
            </div>
        </div>
    </div>

    @section Scripts {
        <script src="~/js/eventos-1.0.0.js"></script>
        <script>
            function Imprimir() {
                var doc = new jsPDF({ orientation: 'landscape' }); // Configura la orientación a horizontal

                var totalPagesExp = "{total_pages_count_string}";
                var pageContent = function (data) {
                    var pageHeight = doc.internal.pageSize.height || doc.internal.pageSize.getHeight();
                    var pageWidth = doc.internal.pageSize.width || doc.internal.pageSize.getWidth();

                    // FOOTER
                    var str = "Pagina " + data.pageCount;
                    if (typeof doc.putTotalPages == 'function') {
                        str = str + " de " + totalPagesExp;
                    }

                    doc.setLineWidth(8);
                    doc.setDrawColor(238, 238, 238);
                    doc.line(14, pageHeight - 11, pageWidth - 14, pageHeight - 11);

                    doc.setFontSize(12); // Tamaño de fuente del pie de página
                    doc.setFontStyle('bold');
                    doc.text(str, 17, pageHeight - 10);
                };

                // Add title and date to the first page
                doc.setFontSize(16); // Tamaño de fuente del título
                doc.setFontStyle('bold');
                doc.text('Listado de Eventos', 14, 22);

                // Add current date
                var today = new Date();
                var dateString = today.toLocaleDateString(); // Format date as needed
                doc.setFontSize(12); // Tamaño de fuente de la fecha
                doc.setFontStyle('normal');
                doc.text('Fecha: ' + dateString, 14, 32);

                var elem = document.getElementById("tabla-imprimir1");
                var res = doc.autoTableHtmlToJson(elem);

                // Remove last two columns
                res.columns = res.columns.slice(0, -2);
                res.data = res.data.map(row => row.slice(0, -2));

                doc.autoTable(res.columns, res.data, {
                    addPageContent: pageContent,
                    theme: 'grid',
                    headStyles: {
                        halign: 'center',
                        fontSize: 6 // Tamaño de fuente de los encabezados
                    },
                    columnStyles: {
                        0: { halign: 'center', fontSize: 5, cellWidth: 20 },
                        1: { halign: 'center', fontSize: 5, cellWidth: 20 },
                        2: { halign: 'center', fontSize: 5, cellWidth: 20 },
                        3: { halign: 'center', fontSize: 5, cellWidth: 20 },
                        4: { halign: 'center', fontSize: 5, cellWidth: 20 },
                        5: { halign: 'center', fontSize: 5, cellWidth: 20 },
                        6: { halign: 'center', fontSize: 5, cellWidth: 20 },
                        7: { halign: 'center', fontSize: 5, cellWidth: 20 }
                    },
                    styles: {
                        halign: 'center',
                        fontSize: 5 // Tamaño de fuente del contenido de las celdas
                    },
                    margin: { top: 40 } // Ajusta el margen superior para el título
                });

                if (typeof doc.putTotalPages === 'function') {
                    doc.putTotalPages(totalPagesExp);
                }

                var string = doc.output('datauristring');
                var iframe = "<iframe width='100%' height='100%' src='" + string + "'></iframe>";

                var x = window.open();
                x.document.open();
                x.document.write(iframe);
                x.document.close();
            }
        </script>


    }