@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReproGanControl</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ReproGanControl.styles.css" asp-append-version="true" />
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/">
    <script src="https://kit.fontawesome.com/a3241fc49f.js" crossorigin="anonymous"></script>
</head>

<body>
   @if (SignInManager.IsSignedIn(User)){
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar vh-100"
            style="background: linear-gradient(to bottom, #7d8ce2, #4650d8, #1915e9);">
            <div class="position-sticky">
                <div class="sidebar-sticky">
                    <div class="p-3">
                        <div style="text-align: center;">
                            <a href="/" class="text-dark text-decoration-none">
                                <img src="img/logo11.jpg" alt="Logo" width="70"
                                    style="border-radius: 10%; display: inline-block; border-radius: 10%; display: inline-block; border: 2px solid white;">
                            </a>
                        </div>

                        <hr>
                        <ul class="nav-custom">
                            <li class="nav-item nav-item-custom">
                                <a href="@Url.Action("Index", "Home")" class="nav-link active" aria-current="page">
                                    <i class="fa-solid fa-house"></i>
                                    Inicio
                                </a>
                            </li>
                            <li class="nav-item nav-item-custom">
                                <a href="@Url.Action("Index", "Animales")" class="nav-link active" aria-current="page">
                                    <i class="fa-solid fa-cow"></i>
                                    Animales
                                </a>
                            </li>
                            <li class="nav-item nav-item-custom">
                                <a href="@Url.Action("Index", "Eventos")" class="nav-link active" aria-current="page">
                                    <i class="fa-solid fa-calendar-days"></i>
                                    Evento
                                </a>
                            </li>
                            <li class="nav-item nav-item-custom">
                                <a href="@Url.Action("Index", "")" class="nav-link active" aria-current="page">
                                    <i class="fa-solid fa-notes-medical"></i>
                                    Registro Medico
                                </a>
                            </li>
                            <li class="nav-item nav-item-custom">
                                <a href="@Url.Action("Index", "TipoAnimales")" class="nav-link active" aria-current="page">
                                    <i class="fa-solid fa-notes-medical"></i>
                                    Tipo Animal
                                </a>
                            </li>
                            <li class="nav-item nav-item-custom">
                                <a href="@Url.Action("Index", "Estados")" class="nav-link active" aria-current="page">
                                    <i class="fa-solid fa-notes-medical"></i>
                                    Estados
                                </a>
                            </li>
                        </ul>
                        <hr>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Page content wrapper-->
        <div id="page-content-wrapper" style="width: 100%;">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>

            <!-- Page content-->
            <div class="container-fluid">
                <main role="main" class="mt-3 pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>

    </div>
}

else{
    <div class="container-fluid">
           <main role="main" class="pb-3">
               @RenderBody()
           </main>
       </div>
}


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sidebars.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>
